<?php require(APP_PATH.'/index/view/common/header.html');?>
<div id="main" class="main-container container">
    <div class="row max-width">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">首页</a>
                </li>
                <li>
                    <strong>发表新帖</strong>
                </li>
            </ul>
        </div>
    </div>


    <div class="thread_create">

        <div class="col-md-9 main-col">
            <div class="panel panel-default corner-radius">
                <div class="panel-heading">发表新帖</div>
                <div class="panel-body">
                    <div class="reply-box form box-block">
                        <form method="POST" action="<?=url('topic/newTopic');?>" accept-charset="UTF-8" id="thread_create_form" class="create_form">
                            <div class="form-group">
                                <input class="form-control" id="thread_title" placeholder="标题" name="title" type="text">
                            </div>
                            <div class="form-group">
                                <select class="form-control selectpicker" id='category_id' name="category_id">
                                    <option value="" disabled selected>选择节点</option>
                                    <?php $category = isset($category) ? $category : [];?>
                                    <?php foreach($category as $c => $subCategory):?>
                                    <optgroup label="<?=$c;?>">
                                        <?php foreach($subCategory as $subc => $name):?>
                                        <option value="<?=$subc;?>"> - <?=$name;?></option>
                                        <?php endforeach;?>
                                        <?php endforeach;?>
                                </select>
                            </div>
                            <!-- editor start -->
                            <div class="editor-toolbar">
                                <ul class="nav nav-pills" style="clear:none;">
                                    <li class="edit active"><a href="#">帖子内容</a></li>
                                </ul>
                            </div>
                            <!-- end -->
                            <div class="form-group">
                                <textarea class="post-editor form-control" rows="15" style="overflow:hidden" id="body_field" placeholder="请撰写内容" name="content" cols="50"></textarea>
                            </div>

                            <div class="form-group">
                                <select class="form-control js-tag-tokenizer" id='tags' multiple="multiple" name="tags[]">
                                    <?php $tags = isset($tags) ? $tags : [];?>
                                    <?php foreach($tags as $tag):?>
                                    <option value=<?=$tag->id;?>><?=$tag->name;?></option>
                                    <?php endforeach;?>
                                </select>
                                <small>
                                    请填写标签，多个标签之间用 , 分隔
                                </small>
                            </div>

                            <div class="form-group status-post-submit">
                                <input class="btn btn-primary col-xs-2" id="thread-create-submit" type="submit" value="发布">
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-3 side-bar">


            <div class="panel panel-default corner-radius help-box">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">发帖提示</h3>
                </div>
                <div class="panel-body">
                    <ul class="list">
                        <li>主题标题
                            <p>请在标题中描述内容要点。</p>
                        </li>
                        <li>选择节点
                            <p>请为你的主题选择一个节点。恰当的归类会让你发布的信息更有用。</p>
                        </li>
                        <li>正文
                            <p>请在正文中输入要发表的全部内容。</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="panel panel-default corner-radius help-box">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">社区指导原则</h3>
                </div>
                <div class="panel-body">
                    <ul class="list">
                        <li>尊重原创
                            <p>请不要在 BBS 上发布任何盗版链接，包括软件、音乐、电影等。</p>
                        </li>
                        <li>友好互助
                            <p>保持对陌生人的友善。用知识去帮助别人。</p>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
<?php require(APP_PATH.'/index/view/common/footer.html');?>
