<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AnyDemoBBS</title>
    <link rel="stylesheet" href="<?=STATIC_URL?>css/all-df86af5803.css">
</head>
<body class="forum" data-page="forum">
<div id="main" class="main-container container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading" align="center"><b>免责声明</b></div>
                    <div class="panel-body">
                        <div class="system-message">
                            <p style="text-indent: 2em">本站只作为个人编程作品测试和展示，请勿注册账号发表任何违法违规信息。如有违反，相关责任发表者自负。</p><br>
                            <p align="right"><a href="<?=url('index/topic/index'); ?>">返回首页</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
