<?php require(APP_PATH.'/index/view/common/header.html');?>
<div id="main" class="main-container container">
				<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="panel panel-default">
				<div class="panel-heading">注册</div>
				<div class="panel-body">
					<form role="form" method="POST" action="<?=url('index/register');?>">
						<div class="form-group">
							<input type="text" class="form-control" name="username" value="" placeholder="用户名">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" name="email" value="" placeholder="邮箱地址">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password" placeholder="密码">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" name="password_confirmation" placeholder="确认密码">
						</div>
						<div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" name="verifycode" style="width: 200px;margin-right: 20px;" placeholder="验证码">
                <span class="input-group-captcha">
                  <?=captcha_img();?>
                </span>
              </div>
            </div>
            <div class="form-group">
							<button type="submit" class="btn btn-primary">
								注册
							</button>
							<a href="/" class="btn btn-default">取消</a>
						</div>
					</form>
				</div>
				<div class="panel-footer">
					已注册，请点击 <a href="login.html">这里</a> 进行登录。
				</div>
			</div>
		</div>
	</div>
</div>

                		</div>
<?php require(APP_PATH.'/index/view/common/footer.html');?>
