<footer class="footer">
    <div class="container">
        <div class="copyright">
            <blockquote class="pull-left">
                <p>AnyDemoBBS</p>
                <p>Copyright &copy; 2018 <span>anydemo.cn</span><span class="pipe">|</span><a href="<?=url('admin/index/login'); ?>">管理员登录</a></p>
            </blockquote>
        </div>
        <div class="pull-right hidden-sm hidden-xs">
            <p>
                <span>关于我们</span><span class="pipe">|</span>
                <span>联系我们</span><span class="pipe">|</span>
				<!-- <a href="<?=url('index/index/disclaimer');?>">免责声明</a> -->
                <span>免责声明</span>
            </p>
        </div>
    </div>
</footer>
</body>
</html>
