<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>AnyDemoBBS</title>
    <link rel="stylesheet" href="<?=STATIC_URL?>css/all-df86af5803.css">
    <script src="<?=STATIC_URL?>js/all-17476e6cc3.js"></script>
    <script src="<?=STATIC_URL?>js/app.js"></script>
</head>
<body class="forum" data-page="forum">
<div class="header">
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-default">
        <div class="container">
            <div class="navbar-header" id="navbar-header">
                <a href="<?=url('topic/index');?>" class="navbar-brand">AnyDemoBBS</a>
            </div>
            <div id="main-nav-menu">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a href="http://www.anydemo.cn" target="_self">
                            <i class="fa fa-plus"></i>
                            <span class="hidden-xs hidden-sm">其他Demo</span>
                        </a>
                    </li>
                </ul>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-search hidden-xs hidden-sm">
                    <?php $page = isset($page) ? $page : 1;?>
                    <form method="GET" id='search_form' action="<?=url('topic/search').'?page='.$page;?>" accept-charset="UTF-8" class="navbar-form form-search active" target="_self">
                        <div class="form-group">
                            <input placeholder="搜索" class="form-control" name="keyword" type="search">
                        </div>
                        <i class="fa fa-search" id='search_icon'></i>
                    </form>
                </li>
                <?php if (!isset($user) || !$user) :?>
                <li><a href="<?=url('index/register')?>" id="signup-btn">注册</a></li>
                <li><a href="<?=url('index/login')?>" id="login-btn">登录</a></li>
                <?php else :?>
                <li>
                    <ul class="nav user-bar navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <img alt="" width='25' style='width: 20px;' src="<?=STATIC_URL.$user->avatar ?>"/>
                                <?=$user['name'];?> <span class="caret"></span>
                            </a>
                            <button class="navbar-toggle" type="button" data-toggle="dropdown" role="button" aria-expanded="false">
                                <span class="sr-only">Toggle</span>
                                <i class="fa fa-reorder"></i>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li class='divider'></li>
                                <li>
                                    <a href="<?=url('index/logout');?>" onclick="return confirm('你确定要退出吗?')"><i class="fa fa-sign-out"></i> 退出</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <?php endif;?>
            </ul>
        </div>
    </nav>
</div>
