<div class="col-md-9 threads-index main-col">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left hidden-sm hidden-xs">
                <i class="fa fa-list"></i> 帖子列表
            </div>
            <?php $tagId = isset($tagId) ? $tagId : '';?>
            <?php $keyword = isset($keyword) ? $keyword : '';?>
            <ul class="pull-right list-inline remove-margin-bottom thread-filter">
                <li>
                    <a href="?field=created_at&order=desc&tag=<?=$tagId;?>&keyword=<?=$keyword;?>">
                        <i class="fa fa-history"></i> 最新话题
                    </a>
                </li>
                <!--li>
                  <a href="thread.html">
                    <i class="fa fa-diamond"> </i> 优质帖子
                  </a>
                </li-->
                <li>
                    <a href="?field=praises_count&order=desc&tag=<?=$tagId;?>&keyword=<?=$keyword;?>">
                        <i class="fa fa-thumbs-o-up"> </i> 最多点赞
                    </a>
                </li>
                <!--li>
                  <a href="thread.html">
                    <i class="fa fa-eye"></i> 等待回复
                  </a>
                </li-->
            </ul>
            <div class="clearfix"></div>
        </div>

        <div class="panel-body remove-padding-horizontal">
            <ul class="list-group row thread-list">
                <?php foreach($topics as $topic) :?>
                <li class="list-group-item media " style="margin-top: 0px;">
                    <span class="badge badge-reply-count"> <?=$topic->replies_count;?> </span>
                    <div class="avatar pull-left">
                        <a href="#">
                            <img class="media-object img-thumbnail avatar-48" alt="" src="<?=STATIC_URL.$topic->user->avatar;?>"/>
                        </a>
                    </div>
                    <div class="infos">
                        <div class="media-heading">
                            <i class="fa fa-thumb-tack text-danger"></i>
                            <a href="<?=url('topic/detail');?>?id=<?=$topic->id;?>" title="<?=$topic->title;?>">
                                <?=$topic->title;?>
                            </a>
                        </div>
                        <div class="media-body meta">
                            <a>
                                <span class="fa fa-thumbs-o-up"> <?=$topic->praises_count;?> </span>
                            </a>
                            <span> • </span>
                            <?php $categorys = getCategoryNames($topic->category_id);?>
                            <span><?=$categorys[0];?></span>
                            <span> / </span>
                            <span><?=$categorys[1];?></span>
                            <span> • </span>

                            <a><?=$topic->user->name;?></a>
                            <span> • </span>
                            <span class="timeago" data-toggle="tooltip" data-placement="top" title="<?=date('Y-m-d H:i:s', $topic->created_at);?>">
                                <?=date('Y-m-d H:i:s', $topic->created_at);?>
                            </span>
                        </div>
                    </div>
                </li>
                <?php endforeach;?>
            </ul>
        </div>

        <div class="panel-footer text-right remove-padding-horizontal pager-footer">
            <?php $keyword = isset($keyword) ? $keyword : '';?>
            <?php $tagId = isset($tagId) ? $tagId : '';?>
            <?php $field = isset($field) ? $field : '';?>
            <?php $order = isset($order) ? $order : '';?>
            <!-- Pager -->
            <ul class="pagination">
                <?php if($page <= 1):?>
                <li class="disabled"><span>&laquo;</span></li>
                <?php else:?>
                <li><a href="?page=1&keyword=<?=$keyword;?>&tag=<?=$tagId;?>&field=<?=$field;?>&order=<?=$order;?>">&laquo;</a></li>
                <?php endif;?>
                <?php foreach($showPages as $showPage):?>
                <?php if($page == $showPage):?>
                <li class="active"><span><?=$page;?></span></li>
                <?php else:?>
                <li><a href="?page=<?=$showPage;?>&keyword=<?=$keyword;?>&tag=<?=$tagId;?>&field=<?=$field;?>&order=<?=$order;?>"><?=$showPage;?></a></li>
                <?php endif;?>
                <?php endforeach;?>
                <?php if($page < $pageNum):?>
                <li><a href="?page=<?=$pageNum;?>&keyword=<?=$keyword;?>&tag=<?=$tagId;?>&field=<?=$field;?>&order=<?=$order;?>" rel="next">&raquo;</a></li>
                <?php else:?>
                <li class="disabled"><span>&raquo;</span></li>
                <?php endif;?>
            </ul>
        </div>
    </div>
</div>
