<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>AnyDemoBBS管理后台</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/style-metro.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/style.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/style-responsive.css" rel="stylesheet" type="text/css"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/default.css" rel="stylesheet" type="text/css" id="style_color"/>
    <link href="<?=ADMIN_STATIC_URL;?>css/uniform.default.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="<?=ADMIN_STATIC_URL;?>css/select2_metro.css"/>
    <link rel="stylesheet" href="<?=ADMIN_STATIC_URL;?>css/DT_bootstrap.css"/>
</head>
<body class="page-header-fixed">
<div class="header navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="index.html">
                AnyDemoBBS
            </a>
            <a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                <img src="<?=ADMIN_STATIC_URL;?>image/menu-toggler.png" alt=""/>
            </a>
            <ul class="nav pull-right">
                <!-- BEGIN INBOX DROPDOWN -->
                <!--li class="dropdown" id="header_inbox_bar">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <span class="badge">5</span>
                    </a>
                    <ul class="dropdown-menu extended inbox">
                        <li>
                            <p>You have 12 new messages</p>
                        </li>
                        <li>
                            <a href="inbox.html?a=view">
                                <span class="photo"><img src="<?=ADMIN_STATIC_URL;?>image/avatar2.jpg" alt="" /></span>
                                <span class="subject">
                                    <span class="from">Lisa Wong</span>
                                    <span class="time">Just Now</span>
                                </span>
                                <span class="message">
                                    Vivamus sed auctor nibh congue nibh. auctor nibh
                                    auctor nibh...
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="inbox.html?a=view">
                                <span class="photo"><img src="<?=ADMIN_STATIC_URL;?>image/avatar1.jpg" alt="" /></span>
                                <span class="subject">
                                    <span class="from">Bob Nilson</span>
                                    <span class="time">2 hrs</span>
                                </span>
                                <span class="message">
                                    Vivamus sed nibh auctor nibh congue nibh. auctor nibh
                                    auctor nibh...
                                </span>
                            </a>
                        </li>
                        <li class="external">
                            <a href="inbox.html">See all messages <i class="m-icon-swapright"></i></a>
                        </li>
                    </ul>
                </li-->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img alt="" width='27' style='width: 27px;' src="<?=STATIC_URL.$user->avatar ?>"/>
                        <span class="username">
                            <?=$user->name ?>
                        </span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="<?=url('index/logout');?>"><i class="icon-key"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
